/* selectors */
#maintopic{
    color: blue;
}
*{
    text-align: center;
}
body h1,h3,h5 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.para{
    color: white;
    background-color: cornflowerblue;

}
div button{
    background-color: purple;
    color: azure;
}

/* pseduoclass & pseduo element */
button:hover{
    background-color: yellow;
    color: blue;
}
p:nth-of-type(odd){
    color: yellow;
}
h1::first-letter{
    color: red;
}
#yes:checked + label{
    color: darkgreen;
}
 
/* specificity: */

/* #maincontent
div .main
.main
h1 */