<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new user</title>
</head>
<body>
            <form  method="post"  action="/user">
                <h2>Enter the Details</h2>
                <input type="text" name="username" placeholder="enter the username"> <br> <br>
                <input type="text" name="email" placeholder="enter the email"> <br> <br>
                <input type="password" name="password" placeholder="enter the password"> <br> <br>
                <button>Submit</button>
            </form>
</body>
</html>